Package: com.pookjw.blurredpreferences
Name: BlurredPreferences
Version: 1.1
Architecture: iphoneos-arm64
Description: Hello World!
Maintainer: Jinwoo Kim
Author: Jinwoo Kim
Section: Utilities
Depends: firmware (>= 15.0), mobilesubstrate (>= 0.9.5000)
